$white-color: white; 
$black-color: black;
$black-lighter-color: #333333;
$primary-color: #2AFA89;
$secondary-color: #0000FF;
$tertiary-color: #10133B;
$light-grey: #F7F8FF;

$vitavi-color: #5057f5;
$clavie-color: #91BF53;
$ikea-color:#0356b4;
$kitcross-color: #02687f;
