
    .section01_landingpage {
      position: relative;
      height: 90vh;
      .content-hello {
        position: absolute;
        width: 292px;
        top: 170px;
        left: 50%;
        transform: translate(-50%, -50%);
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
       align-items: center;
        @include tablet {
          width: 400px;
          top: 240px;
        }
        @include laptop {
          width: 430px;
          top: 280px;
        }
        @include laptop-l {
          width: 600px;
          top: 260px;
        }
        @include laptop-4k {
          width: 720px;
          top: 360px;
        }
        &__container {
          padding: 0 16px;
          height: 28px;
          display: flex;
          color: $secondary-color;
          font-family: 'montserratbold';
          font-size: 28px;
          overflow: hidden;
          @include tablet {
            height: 38px;
            font-size: 38px;
            padding: 0 24px;
          }
          @include laptop {
            height: 42px;
            font-size: 42px;
            height: 42px;
          }
          @include laptop-l {
            font-size: 56px;
            height: 56px;
            padding: 0 32px;
          }
          @include laptop-4k {
            font-size: 64px;
          height: 64px;
          padding: 0 50px;
        }
          &:before {
            content: "[";
            left: 0;
          }
          &:after {
            content: "]";
            right: 0;
          }
          &:after,
          &:before {
            position: absolute;
            transform: translateY(-4px);
            color: $tertiary-color;
            font-size: 32px;
            font-family: 'montserrat';
            @include tablet {
              font-size: 38px;
            }
            @include laptop {
              font-size: 42px;
            }
            @include laptop-l {
              font-size: 56px; 
            }
            @include laptop-4k {
              font-size: 64px;
            }
          }
          &__text {
            margin: 0;
            &__list {
              margin: 0;
              padding-left: 8px;
              &__item {
                list-style: none;
                -webkit-animation-name: change;
                -webkit-animation-duration: 10s;
                -webkit-animation-iteration-count: infinite;
                -webkit-animation-timing-function: ease-in-out;
                animation-name: change;
                animation-duration: 10s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
              }
            }
          }
        }
        .beta_txt {
          font-size: 0.8em;
          text-transform: uppercase;
          font-family: 'montserratlight';
          color: rgba($tertiary-color,0.7);
          opacity: 0.5;
        }
      }
      .text_landingpage {
        h2 {
          color: $tertiary-color;
          text-align: center;
          font-family: 'montserratbold', arial;
          font-size: 1.5em;
          line-height: 1.4em;
          // margin-top: 4%;
          .line_break {
            display: block;
          }
        }
      }
      .iamalso-content {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 20vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 240px;
        height: 64px;
        border:solid 1px rgba($secondary-color, 0.5);
        padding-left: 16px;
        text-decoration: none;
        @include hover-transition;
        @include tablet {
          border-top: solid 1px rgba($secondary-color, 0.5);
          border-right: solid 1px rgba($secondary-color, 0.5);
          border-bottom: solid 1px rgba($secondary-color, 0.5);
          border-left: none;
          left: 72px;
          transform: translateX(0);
        }
        @include laptop {
          &:hover {
            transform: scale(1.1);
            @include hover-transition
          }
        }
        @include laptop-4k {
          width: 280px;
          height: 80px;
          font-size: 1.4em;
        }
        .iamlso01 {
          color: $secondary-color;
          font-family: 'montserratsemibold_italic';
          margin: 0 0 2px 0;
          font-size: 17px;
          
        }
        .iamlso02 {
          color: $tertiary-color;
          font-family: 'montserratbold';
          text-transform: uppercase;
          margin: 0;
          font-size: 19px;
        }
        .unvailable {
          position: absolute;
          display: inline-block;
          bottom: -20px;
          margin: 0;
          font-family: 'montserratitalic';
          font-size: 0.7em;
          color: rgba($white-color, 0.3);
        }
      }
    }
    .scroll_down {
      position: absolute;
      left: 50%; 
      transform: translate(-50%,0);
      display: flex;
      justify-content: center;
      text-align: center;
      bottom: -2vh;
      .scroll-down-text {
        color: $secondary-color;
        position: relative;
        display: inline-block;
        text-transform: uppercase;
        font-family: 'montserratbold';
        font-size: .7em;
        bottom: 70px;
        @include tablet {
          font-size: 0.7em;
        }
        @include laptop {
          font-size: 1em;
        }
      }
      .arrow {
        position: absolute;
        bottom: 72px;
        border: solid $tertiary-color;
        border-width: 0 2px 2px 0;
        padding: 4px;
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -webkit-animation: arrow 2s infinite;
        -webkit-transition-timing-function: cubic-bezier(0.68, 1.62, 0.14, -0.97);
        -o-transition-timing-function: cubic-bezier(0.68, 1.62, 0.14, -0.97);
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  

