// Add to header, .project-header
.vitavi-bg {
    background-color: $vitavi-color;
}

.clavie-bg {
    background-color: $clavie-color;
}

.ikea-bg {
    background-color: $ikea-color;
}

.kitcross-bg {
    background-color: $kitcross-color;
}

// Add to .portfolio-view-intro>h1, .domain-tools-item>p 
.vitavi-color {
    color: $vitavi-color;
}

.clavie-color {
    color: $clavie-color;
}

.ikea-color {
    color: $ikea-color;
}

.kitcross-color {
    color: $kitcross-color;
}

.img-project {
    position: relative;
    text-align: center;
    background-color: $white-color;
    @include marges;
    img {
        width: 100%;
        display: block;
        max-width: 860px;
        margin: auto;
        margin-bottom: 3rem;
        box-shadow: 0 2px 20px 0 rgba($tertiary-color, 0.1);
        &:last-child {
            margin-bottom: 2em;
        }
    }
    .no-shadow {
        box-shadow: none;
    }
    .gifs-vitavi {
        img {
            display: inline;
            padding: 0;
            margin: 2em 0;
            max-width: 288px;
            border: 1px solid rgba($tertiary-color, 0.2);
        }
    }
    h4 {
        font-family: 'montserratbold';
        color: $secondary-color;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 2em;
    }
    #ikea-mobile {
        max-width: 360px;
    }
}

.portfolio-view-container {
    background-color: $white-color;
    position: relative;
    .project-header {
        text-align: center;
        @include laptop-l {
            padding-top: 64px;
        }
        img {
            width: 280px;
            margin: 1em 0;
            transition: all 0.2s;
            @include tablet {
                width: 300px;
            }
            &:hover {
                transform: scale(1.1);
                transition: all 0.2s;
            }
        }
        .clavie-header {
            @include tablet {
                width: 400px;
            }
            @include laptop {
                width: 500px;
            }
        }
    }
    .project-subheader {
        h1 {
            display: block; // color: $vitavi-color;
            margin: 0;
            text-align: center;
            font-family: 'montserratbold';
            font-size: 2em;
            padding-top: 1em;
        }
        @include marges;
        background-color: $white-color;
        color: black;
        margin: 0;
        @include laptop {
            padding: 0 8em;
        }
        .project-subheader-subtitle {
            max-width: 860px;
            @include laptop {
                display: flex;
                padding: 2em 0;
                margin: auto;
            }
            .portfolio-view-intro {
                position: relative;
                width: 100%;
                margin: auto;
                p {
                    font-family: 'montserratregular';
                    font-size: 1.1em;
                    line-height: 1.4em;
                    color: rgba($tertiary-color, 0.6);
                    margin: 1em 0 1.6em 0;
                    @include laptop {
                        margin: 0 5em 0 0em;
                    }
                }
            }
            .domain-tools {
                padding-bottom: 2em;
                max-width: 860px;
                margin: auto;
                @include laptop {
                    margin: 0;
                }
                .domain-tools-item {
                    &:nth-child(2) {
                        margin: 1em 0;
                    }
                    h4 {
                        font-family: 'montserratregular';
                        color: rgba($tertiary-color, 0.7);
                        margin: 0;
                        display: inline;
                    }
                    p {
                        display: inline;
                        font-family: 'montserratbold';
                        margin: 0;
                        margin-left: 0.3em;
                    }
                }
            }
        }
    }
    .buttons-next-previous-container {
        background-color: $white-color;
        padding: 3em 0 4em 0;
        display: flex;
        justify-content: center;
        .pn-buttton {
            width: 48px;
            height: 48px;
            padding: 1em;
            border: 1px solid $secondary-color;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            @include laptop {
                width: 128px;
            }
            &:hover {
                background-color: $secondary-color;
                p {
                    color: $white-color;
                }
                svg {
                    fill: $white-color;
                }
            }
            p {
                display: none;
                font-size: 0;
                @include laptop {
                    display: inline;
                    font-size: 16px;
                    font-family: 'montserratsemibold';
                    color: $secondary-color;
                }
            }
            svg {
                fill: $secondary-color;
            }
            &:hover {
                fill: $white-color;
            }
        }
        .previous-btn {
            margin-right: 64px;
            @include tablet {
                margin-right: 128px;
            }
            svg {
                transform: rotate(180deg);
                @include laptop {
                    margin-right: 16px;
                }
            }
        }
        .next-btn {
            svg {
                @include laptop {
                    margin-left: 16px;
                }
            }
        }
    }
}
.photo-project {
    height: 80PX;
        position: sticky;
        top: 0;
        background-color: $white-color;
        z-index: 1;
        align-items: center;
        @include tablet {
            height: 80px;
        }
        h1 {
            margin: 0;
        }
        .nav_burger_menu_ic {
            padding: 0;
        }
}