.quote {
    height: 150px;
    background-color: $secondary-color;
    display: flex;
    align-items: center;
    @include tablet {
        height: 168px;
    }
    @include laptop {
        height: 240px;   
    }

    blockquote {
        width: 100%;
        margin: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            text-align: center;
            width: 272px;
            font-family: 'montserratsemibold_italic';
            font-size: 20px;
            @include tablet {
                width: 320px;
                font-size: 22px;
            }
            @include laptop {
                margin-bottom: 1.3em;
            }
            .primarycolor {
                color: $primary-color;
            }
        }
        .dialogue_line_arrow {
            position: relative;
            width: 100%;
            border-bottom: solid 1px $primary-color;
            margin-bottom: 20px;
            @include tablet {
                max-width: 75%;
            }

            &:after {
                position: absolute;
                content: "";
                background-color: $secondary-color;
                width: 24px;
                 height: 24px;
                border-right: solid 1px $primary-color;
                border-bottom: solid 1px $primary-color;
                top: 100%;
                left: 50%;
                margin-left: -12px;
                transform: rotate(45deg);
                margin-top: -12px;
            }
        }
        footer {
            display: flex;
            justify-content: center;
            cite {
                font-family: 'montserratsemibold';
                font-style: normal;
                margin-top: 4px;
                font-size: 12px;
                color: $white-color;

            }
        }
    }
}

.quote-negative{
    background-color: $light-grey;
    blockquote {
        p {
            color: $tertiary-color;
            .primarycolor {
                color: $secondary-color;
            }
        }
        .dialogue_line_arrow {
            border-bottom: solid 1px $secondary-color;
            &:after {
                background-color: $light-grey;
                border-right: solid 1px $secondary-color;
                border-bottom: solid 1px $secondary-color;
            }
        }
        footer {
            cite {
                color: $secondary-color;
            }
        }
    }
}